<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.damoyo.mapper.BoardMapper">
	<sql id="search">
		<if test="cri.searchType == null">
			SELECT * FROM board WHERE m_num=#{m_num} ORDER BY b_num DESC
		</if>
		<if test="cri.searchType != null">
			<if test="cri.searchType == ''.toString()">
				SELECT * FROM board WHERE m_num=#{m_num} ORDER BY b_num DESC
			</if>
			<if test="cri.searchType != ''.toString()">
				SELECT * FROM board WHERE m_num=#{m_num} AND b_cate_name=#{cri.searchType} AND
				(b_title LIKE '%'||#{cri.keyword}||'%' OR b_content LIKE '%'||#{cri.keyword}||'%')
			</if>
		</if>
	</sql>
	<sql id="searchTotal">
		<if test="cri.searchType != null">
			<if test="cri.searchType == ''.toString()">
				AND (b_title LIKE '%'||#{cri.keyword}||'%' OR b_content LIKE '%'||#{cri.keyword}||'%')
			</if>
			<if test="cri.searchType != ''.toString()">
				AND b_cate_name=#{cri.searchType} 
				AND (b_title LIKE '%'||#{cri.keyword}||'%' OR b_content LIKE '%'||#{cri.keyword}||'%')
			</if>
		</if>
	</sql>
	
	<select id="getBoards" resultType="com.damoyo.domain.BoardVO">
		<![CDATA[
			SELECT tbl.b_num, tbl.b_cate_name, tbl.b_title, tbl.b_content, tbl.b_date, tbl.b_like, tbl.b_image1, tbl.b_image2, tbl.b_image3, tbl.b_view, tbl.m_num, tbl.u_id
			FROM(SELECT ROWNUM rn, board.* FROM(]]>
		<include refid="search"/>
		<![CDATA[
			)board
			WHERE ROWNUM <= (#{cri.pageNum} * #{cri.amount}))tbl
			WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>			
	</select>
	
	<insert id="insertCate">
		INSERT INTO board_category(b_cate_num, b_cate_name, m_num)
		VALUES(BOARD_CATEGORY_SEQ.nextval, #{b_cate_name}, #{m_num})
	</insert>
	
	<select id="getBoardCate" resultType="com.damoyo.domain.BoardCateVO">
		SELECT * FROM board_category
	</select>

	<insert id="insert">
		INSERT INTO board (b_num, b_cate_name, b_title, b_content, u_id, b_image1, b_image2, b_image3, m_num) 
		VALUES (BOARD_SEQ.nextval, #{b_cate_name}, #{b_title}, #{b_content}, #{u_id}, #{b_image1}, #{b_image2}, #{b_image3}, #{m_num})
	</insert>
	
	<delete id="delete">
		DELETE board WHERE b_num = #{b_num}
	</delete>
	
	<update id="update">
		UPDATE board SET b_title = #{b_title}, b_content = #{b_content} WHERE b_num = #{b_num}
	</update>
	
	<select id="getTotalBoard" resultType="int">
		SELECT COUNT(*) FROM board WHERE m_num=#{m_num}		
		<include refid="searchTotal"/>
	</select>
	
</mapper>