@charset "UTF-8";

.interest-meet-list {
	margin-bottom: 40px;
}
.interest-meet__single {
	display: flex;
	justify-content: center;
	padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
}
.interest-meet__single:hover {
	background-color: var(--hover-bg-color);
}

.interest-meet__area {
    color: var(--area-color);
    margin-right: 50px;
}

.interest-meet-btn {
	text-align: center;
}
.interest-meet-btn button {
	margin-bottom: 25px;
	width: 50%;
}